.section[data-section-type="collection-tile-links"] {
  @include media-query($medium-down) {
    padding: 10px 0;
  }
}
.collection-tile-links__wrapper {
  flex: 1;
  margin: 20px 10px;
  display: block;
}
.collection-tile-links {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .page__header-image {
    z-index: 0;
  }
  &__text-container {
    z-index: 1;
    &:nth-child(2):not(:last-child),
    &:first-child.collection-tile-links__text-container {
      @include media-query($medium-up) {
        padding-left: 50px;
      }
    }
    @include media-query($medium-down) {
      padding: 80px 15px;
    }
  }
  &__image-container {
    @include media-query($medium-down) {
      display: none;
    }
  }
  &__placeholder-div {
    @include media-query($medium-down) {
      display: none;
    }
  }
  &__text-aligner {
    .heading {
      margin-bottom: 0;
      position: relative;
      display: inline-block;
      margin-bottom: 0;
      line-height: normal;
      @include media-query($medium-down) {
        font-size: 2rem;
      }
    }
  }
  &__headline {
    text-align: center;
    margin-bottom: 40px;
    @include media-query($medium-down) {
      padding: 0 20px;
    }
    .heading {
      text-transform: none;
      text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
      span {
        font-weight: inherit;
        font-family: inherit;
        color: $orange;
      }
    }
  }
  &__collapsed {
    @include media-query($medium-up) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      .collection-tile-links__image-container {
        display: none;
      }

      .collection-tile-links__text-container {
        padding: 6rem 2rem;
        width: unset;
        .h2 {
          //   font-size: 1.5em;
        }
      }
    }
  }
}
