.product-block-list {
  .product-block-list__item > .card {
    background: #fff;
  }
  .product-meta > .equipment-pdp_title {
    font-size: 55px;
    line-height: 56px;
  }
}
.product-block-list__item > .card {
  background: #fff;
}
.product-block-list__wrapper {
  margin-bottom: 73px;
}
.show-mobile{
  margin-top: 64px;
}
.product-meta>.equipment-pdp_title{
    font-size: 55px;
    line-height: 56px;
}
.product-meta__title {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
}
.product-meta__reference {
  font-size: 14px;
  line-height: 22.9px;
  font-weight: 700;
}
.variant_first_option {
  display: none;
}
.product-form__info-title {
  color: var(--accent-color);
  font-size: 24px;
  line-height: 28px;
}
.product-form__info-content > .price-list > .price {
  color: var(--accent-color);
  font-size: 24px;
  line-height: 28px;
}

.mw-apo-container {
  border-top: 1px solid;
  padding-top: 15px;
}

.mw-option--type-button .mw-option__control:checked + .mw-option__button {
  border-color: var(--accent-color) !important;
  box-shadow: none !important;
  background: #f265312e;
}
.mw-text--style-strong {
  color: var(--accent-color);
}
.mw-accumulated-title,
.mw-option__value-text {
  color: #000;
}
.mw-option--type-button .mw-option__button {
  background: #00000024;
}

.product-gallery__size-limiter > .aspect-ratio {
  height: 473px;
}
.product-gallery__size-limiter .aspect-ratio img {
  border-radius: 30px;
}
.product-gallery__carousel {
  border: 1px solid #0000000d;
  border-radius: 30px;
  width: 469px;
  -webkit-box-shadow: 0px 35px 45px #0000001a;
  box-shadow: 0px 35px 28px #0000001a;
}
.product-gallery__thumbnail {
  border: 1px solid #00000036;
  & > .aspect-ratio {
    border-radius: 3px;
  }
  .product-meta__title {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
  }
  .product-meta__reference {
    font-size: 14px;
    line-height: 22.9px;
    font-weight: 700;
  }
  .variant_first_option {
    display: none;
  }
  .product-form__info-title {
    color: var(--accent-color);
    font-size: 24px;
    line-height: 28px;
  }
  .product-form__info-content > .price-list > .price {
    color: var(--accent-color);
    font-size: 24px;
    line-height: 28px;
  }

  .product-gallery__size-limiter > .aspect-ratio {
    height: 473px;
  }
  .product-gallery__size-limiter .aspect-ratio img {
    border-radius: 30px;
  }
  .product-gallery__carousel {
    border: 1px solid #0000000d;
    border-radius: 30px;
    width: 469px;
    -webkit-box-shadow: 0px 35px 45px #0000001a;
    box-shadow: 0px 35px 28px #0000001a;
  }
  .product-gallery__thumbnail {
    border: 1px solid #00000070;
    & > .aspect-ratio {
      border-radius: 3px;
    }
  }
  .product-meta__vendor {
    margin-right: 7px;
  }
  .product-meta__sku {
    color: #000;
  }

  .quantity-selector--product {
    border: 1px solid;
    background: rgba(196, 196, 196, 0.19);
  }
  .quantity-selector--product .quantity-selector__value {
    height: 100%;
    min-width: 64px;
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
  }

  .quantity-selector--product .quantity-selector__button {
    padding: 0 12px;
  }

  .related-stock {
    font-size: 20px;
    color: var(--header-accent-color);
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: -18px;
    padding: 0;
  }

  .mw-text--style-negative {
    display: none;
  }
  .product-gallery__zoom-notice > .icon--zoom {
    height: 16px;
    width: 15px;
    margin: 0;
    position: relative;
    top: 3px;
    color: #000;
  }
  .product-gallery__zoom-notice > .hidden-pocket {
    font-weight: 600;
    color: #000;
  }

  .product-block-list__item .card .product-gallery--with-thumbnails {
    flex-direction: column;
    align-items: unset;
  }

  .product-block-list__item .card .product-gallery__carousel-wrapper {
    border-radius: 30px;
    margin: 0 0 10px;
    overflow: hidden;
    filter: drop-shadow(-10px 35px 45px rgba(0, 0, 0, 0.1));
  }

  .card__collapsible-button {
    border-top: 1px solid #00000080;
    padding-bottom: 1px;
  }
  .accordion_title {
    font-size: 24px;
  }
  .card__collapsible-button .plus-button {
    color: transparent;
  }

  .card__collapsible-content {
    padding: 25px 30px 30px 30px;
  }

  .card__collapsible-content > .text--pull {
    font-size: 16px;
    line-height: 26px;
    color: #000;
  }

  .product-block-list__item:last-of-type {
    border-bottom: 1px solid #00000080;
  }

  .shipping-estimator-collapse {
    padding: 10px 19px 10px 40px;
    margin-top: -34px;
  }

  .pdp-equipment_description {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid #00000080;
    margin-bottom: 24px;
    padding-bottom: 24px;
  }
  .pdp-equipment_description > p {
    font-size: 18px;
    line-height: 22px;
    color: #000;
  }
  .pdp-equipment_description > strong {
    font-size: 18px;
    line-height: 22px;
    color: #000;
  }
  .pdp-equipment_description > .p1 > strong {
    font-size: 18px;
    line-height: 22px;
    color: #000;
  }
  .request-section {
    display: grid;
    padding-top: 13px;
    padding-bottom: 14px;
  }

  .request-btn {
    font-size: 16px;
    line-height: 28.8px;
    color: #fff !important;
    text-decoration: none !important;
    width: 100%;
    text-align: center;
  }
  .right-thumbnails {
    border-top: 1px solid #00000080;
    margin-top: 20px;
    border-bottom: 0;

    .product-gallery__carousel-wrapper {
      display: none;
    }
  }
  .right-thumbnails_swiper {
    width: 140px !important;
    height: 145px !important;
    margin-right: 19px;

    img {
      margin: 0em 0;
      z-index: -1;
    }
    svg {
      position: absolute;
      top: 53px;
      left: 53px;
      z-index: -1;
    }
  }
  .swiper-slide-thumb-active > .aspect-ratio {
    background: #f265318c;
  }
  .swiper-slide-thumb-active > svg {
    z-index: 1;
  }

  .equipment-thumbnail-alt {
    font-size: 17px;
    color: #000;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    padding-top: 11px;
  }

  .hide-left_thumbnails {
    .product-gallery__thumbnail-list {
      display: none;
    }
  }

  .pdp-equipment_Icons_Text {
    border-top: 1px solid #00000080;
    padding: 31px 4px;
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  .grid-Icons {
    text-align: center;
    margin-right: 16px;
    margin-left: 13px;
  }

  .pdp-equipment-icons {
    height: 59px;
    width: 59px;
  }

  .pdp-icon-content {
    p {
      font-size: 14px;
      line-height: 20px;
      color: #000;
      font-weight: 700;
    }
  }

  .pdp-equipment-video_section {
    display: flex;
    flex-direction: column-reverse;
    .product-gallery__external-video {
      margin: 15px 0px;
    }
  }

  .mobile-reference-pdp {
    display: grid;
  }

  .product-gallery__size-limiter {
    .aspect-ratio {
      padding-bottom: 102.825227% !important;
    }
}

.pdp-info-text-section {
  height: 408px;
}

.pdp-infotext-section-title {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 54px;
  line-height: normal;
  filter: drop-shadow(0px 4px 4px #00000042);
}
.pdp-text_info-description > p > .metafield-multi_line_text_field {
  font-size: 24px;
}
.pdp-info_text_section {
  margin: 0;
  padding: 0;
  margin-bottom: -22px;
}
.text-with-icons__icon-wrapper svg {
  width: 45px;
  height: 45px;
  vertical-align: middle;
}
.text-with-icons__title {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 18px;
}
.text-with-icons__content > p {
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  margin-top: -3px;
}
.pdp-recently_viewed {
    background: transparent;
}
.equpiment-buybtn-hide {
  display: none;
}

@media screen and (max-width: 1000px) {
  .product-gallery__carousel {
    width: 93vw;
  }
  .product-gallery__size-limiter > .aspect-ratio {
    height: 266px;
  }

  .pdp-info-text-section {
    height: 408px;
  }

  .pdp-infotext-section-title {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 54px;
    line-height: normal;
    filter: drop-shadow(0px 4px 4px #00000042);
  }
  .pdp-text_info-description > p > .metafield-multi_line_text_field {
    font-size: 24px;
  }
  .pdp-info_text_section {
    margin: 0;
    padding: 0;
    margin-bottom: -22px;
  }
  .text-with-icons__icon-wrapper svg {
    width: 45px;
    height: 45px;
    vertical-align: middle;
  }
  .text-with-icons__title {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 18px;
  }
  .show-mobile{
    margin-top: 0;
  }
  .text-with-icons__item{
    display: grid;
    grid-template-columns: 75px 250px;
    justify-content: center;
    margin-top: 23px;
    .text-with-icons__content-wrapper {
      text-align: left;
    }
    .text-with-icons--stacked {
      margin-left: 21px;
    }
  }
  .pdp-equipment_Icons_Text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 29px;
    margin: 25px;
    gap: 25px;
  }
  .mobile-title-equipment-pdp {
    display:block!important;
    margin-top: 20px;
  }
  .product-meta>.equipment-pdp_title{
    display:none;
  }
  .product-meta>.mobile-reference_pdp {
    display:none;
  }
  .text-with-icons__content > p {
    margin-bottom: 0;
    font-size: 14px;
    color: #000;
    margin-top: -3px;
  }
  .pdp-recently_viewed {
    background: transparent;
  }

  @media screen and (max-width: 1000px) {
    .product-gallery__carousel {
      width: 93vw;
    }
    .product-gallery__size-limiter > .aspect-ratio {
      height: 266px;
    }
    .product-meta__title {
      font-size: 28px;
      line-height: 36px;
    }
    .product-meta > .product-meta__reference {
      display: grid;
    }
    [aria-expanded="true"] > .accordion_title {
      font-size: 24px;
      border-bottom: 2px solid var(--accent-color);
      padding-bottom: 9px;
    }
    .pdp-infotext-section-title {
      font-size: 19px;
    }
    .pdp-text_info-description > p {
      line-height: 22px;
      padding-top: 10px;
      .metafield-multi_line_text_field {
        font-size: 17px;
      }
    }
    .pdp-info_text_section {
      padding: 24px;
      margin: 0 0 0px;
    }
    .hide_section-mobile {
      display: none;
    }
    .pdp-equipment_Icons_Text {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 29px;
      margin: 25px;
      gap: 25px;
    }
    .mobile-title-equipment-pdp {
      display: block !important;
      margin-top: 20px;
    }
    .product-meta > .equipment-pdp_title {
      display: none;
    }
    .product-meta > .mobile-reference_pdp {
      display: none;
    }
    .pdp-equipment_description {
      display: flex;
      flex-direction: column-reverse;
      border-top: 0px;
    }
    .right-thumbnails {
      border-top: 0;
      margin-top: 0px;
      margin-bottom: -55px;
      border-bottom: 1px solid #000 !important;
    }
    .right-thumbnails {
      .swiper-thumbs {
        height: 186px;
      }
    }
    .request-btn {
      position: relative;
      top: 361px;
      font-weight: 700;
    }
    .card__collapsible-button {
      border-top: 1px solid #00000014;
    }
    .pdp-equipment_Icons_Text {
      border-top: 1px solid #00000014;
      margin: 22px 0px;
    }
    .mobile-border_title {
      border-bottom: 2px solid #f26531;
      padding-bottom: 11px;
    }
  }
}

.product-form__info-list {
  border-spacing: 0 6px;
  margin: 0;
  .product-form__info-item {
    &--quantity {
      margin-bottom: 20px;
      .product-form__info-quantity {
        margin-right: 20px;
        color: black;
      }
    }
    &:not(.product-form__info-item--quantity) {
      .product-form__info-title {
        color: $orange;
      }
    }

    .quantity-selector {
      background: rgba(196, 196, 196, 0.19);
      border: 1px solid rgba(17, 36, 53, 0.29);
      border-radius: 0;
      &.quantity-selector--product {
        height: 38px;
      }
      &__value {
        box-shadow: none;
        border-left: 1px solid rgba(17, 36, 53, 0.29);
        border-right: 1px solid rgba(17, 36, 53, 0.29);
      }
    }
  }

  .product-form__variants,
  .mw-apo-container {
    border-top: 1px solid;
    padding-top: 15px;
    .product-form__option,
    .mw-stack__item {
      .product-form__option-name,
      .mw-label .mw-text--style-strong {
        color: $orange;
      }
      .product-form__selected-value,
      .mw-text:not(.mw-text--style-strong) {
        color: black;
      }
      .block-swatch-list,
      .mw-option__container,
      .mw-option--type-button {
        .block-swatch,
        .mw-label {
          &__radio,
          .mw-option__control {
            &:checked {
              & + .mw-option__button {
                background: rgba(var(--primary-button-background-rgb), 0.3);
                border-color: $orange;
              }
            }
            &:not(:checked) {
              & + .block-swatch__item,
              & + .mw-option__button {
                background: rgba(196, 196, 196, 0.43);
                border-color: rgba(0, 0, 0, 0.5);
              }
            }
          }
          &__item,
          .mw-option__button {
            color: black;
            border-radius: 0;
            box-shadow: none;
            position: relative;
            display: inline-block;
            padding: 8px 27px;
            text-align: center;
            font-weight: normal;
            font-size: var(--base-text-font-size);
            border: 1px solid transparent;
            cursor: pointer;
            background: rgba(var(--primary-button-background-rgb), 0.3);
            transition: background 0.25s ease-in-out, color 0.25s ease-in-out,
              box-shadow 0.25s ease-in-out;
            .mw-text {
              color: inherit;
            }
          }
        }
      }
    }
  }
}

.shipping-estimator {
  .form__field {
    box-shadow: 0 -1px rgba(var(--border-color-rgb), 0.25) inset;
  }
}

.product-form__payment-container {
  margin-top: 15px;
}

}
@media (min-width: 1000px) and (max-width: 1099px) {
  .product-block-list__wrapper {
    width: calc(55% - 30px);
    margin-left: 0;
  }
}

@media screen and (min-width: 1100px) {
  .product-block-list__wrapper {
    width: calc(50% - 36px);
    margin-left: 0;
  }
}
.product-gallery__carousel-wrapper {
  border-radius: 30px;
    margin: 0 0 10px;
    overflow: hidden;
    filter: drop-shadow(-10px 35px 45px rgba(0,0,0,.1));
}