.mini-cart {
  left: -1em;
  top: 64%;
  @media screen and (min-width: 641px) {
    left: auto;
    top: 150%;
  }
  .icon--nav-triangle-borderless {
    right: 20px;
    @include media-query($small-up) {
      right: 44px;
    }
  }
  button[name="checkout"],
  a.button {
    font-family: $font--heading;
    font-weight: 700;
    text-transform: uppercase;
  }
}
